@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* Cache le panneau d'itinéraire de Leaflet Routing Machine */
.leaflet-routing-container {
    display: none !important;
    visibility: hidden !important;
    /* Pour pouvoir cliquer sur la carte "à travers" le panneau caché */
    pointer-events: none !important;
}


/* Le conteneur du loader */
.loader {
  border: 4px solid #f3f3f3; /* Gris clair */
  border-top: 4px solid #F8B803; /* Jaune SamaTaxi */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

/* L'animation de rotation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Optionnel : un conteneur pour centrer le loader à l'écran */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  color: #555;
}
